html {
    margin: 0px;
    padding: none;
    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.main-heading {
    text-align: center;
    color: #696969;
}

.calc-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    min-width: 275px;
    width: 50%;
    background-color: white;
    box-shadow: 10px 10px 20px#a7a7a7;
}

.calc-display {
    background-color: #000000;
    text-align: right;
    height: 74px;
    padding: 0px 10px;
}

.display-number {
    color: white;
    font-size: 3em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

button {
    width: 100%;
    border-style: none;
    border-radius: 0px;
    height: 50px;
    font-size: 1em;
    background-color: #e9e9e9;
}

button:hover {
    background-color: #cccccc;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.calc-inputs {
    display: flex;
    justify-content: space-between;
}

.operators {
    width: 20%;
    margin: 5px 0px 5px 10px;
}

.op-btn-group {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.op-btn-element {
    width: 100%;
    text-align: center;
    margin: 5px 0px;
}

.numbers {
    width: 80%;
    padding: 5px 10px;
}

.num-btn-group {
    display: flex;
    flex-wrap: wrap-reverse;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.num-btn-element {
    width: 32%;
    text-align: center;
    margin: 5px 0px;
}

#double-space {
    width: 66%;
}

.clr-back-div {
    text-align: center;
    display: flex;
}

.clr-btn {
    border-style: none;
    border-radius: 0px;
    width: 80%;
    height: 50px;
    text-transform: uppercase;
    color: #696969;
}

.backspace {
    border-style: none;
    border-radius: 0px;
    width: 20%;
    height: 50px;
    text-transform: uppercase;
    background-color: #696969;
    color: white;
}

.operator {
    background-color: #ebb95d;
}

.operator:hover {
    background-color: #d1982f;
}

.equal {
    background-color: #7ec0e6;
}

.equal:hover {
    background-color: #4696c5;
}

.instructions-div {
    margin-top: 50px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    color: #a7a7a7;
    line-height: 1.5em;
}